* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 88.2vw;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-nav {
  display: flex;
}

.header-nav-button div {
  margin: 5px 0;
  width: 30px;
  height: 4px;
  background-color: #333;
  border-radius: 25%;
  opacity: 0;
}

.header-logo {
  width: 6vw;
  cursor: pointer;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-nav-row {
  display: flex;
  align-items: center;
  height: 4vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-row-category {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-right: 3rem;
  text-decoration: none;
  cursor: pointer;
  color: #707070;
}

.header-nav-row a:last-child li {
  margin-right: 2rem;
}

.nav-row-category:hover {
  text-shadow: 0 0 1px #000;
}

.active {
  font-weight: 900;
  font-size: 22px;
  color: #000;
}

.category-active:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  height: 3px;
  width: 80%;
  transition: all ease-out 0.4s;
  background-color: #f11212;
  content: "";
  opacity: 1;
}

.active:hover {
  text-shadow: 0 0 1px #000;
}
@media (max-width:768px) {
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem;
  }
  .header-container,
  .header-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-logo {
    width: 10vw;
    margin-right: 1rem;
  }
  .header-nav-row {
    display: block;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100vw;
    height: 66vh;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 5px #aaa;
    opacity: 0;
    transition: transform 0.5s, opacity 0.8s ease-in;
    transform: translateX(-100%);
  }
  .header-nav-row a li {
    padding: 2rem;
    font-weight: 600;
    font-size: 32px;
    text-shadow: 0 1px 1px #333;
    border-bottom: 3px solid #ddd;
    color: #555;
  }
  .header-nav-row a li:hover {
    opacity: 0.5;
  }
  .header-nav-row a:last-child li {
    border-bottom: 0;
  }
  #nav:target {
    opacity: 1;
    transform: translateX(0)
  }
  .header-nav-button a div{
    cursor: pointer;
    opacity: 1;
  }
}
@media (max-width:425px) {
  .header-nav-row {
    height: 47vh;
  }
  .header-nav-row a li {
    padding: 1rem;
  }
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 25vh);
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: 43vw;
  padding-top: 7rem;
}
.intro-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 66px;
}

.intro-subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: #45cfc9;
}

.intro-text {
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-top: 5px;
}
@media (max-width:768px) {
  .intro-container {
    flex-direction: column;
  }
  .text-box {
    text-align: center;
    width: 100%;
    padding-top: 9rem;
  }
  .intro-title {
    font-size: 60px;
  }
  .intro-subtitle {
    font-size: 30px;
  }
  .intro-text {
    width: 88vw;
    font-size: 24px;
  }
}
@media (max-width:425px) {
  .text-box {
    padding-top: 8rem;
  }
  .intro-title {
    font-size: 52px;
  }
  .intro-subtitle {
    font-size: 27px;
  }
  .intro-text {
    width: 90vw;
    font-size: 23px;
  }
}

.illustration-box {
  position: relative;
  top: 0.6rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68.3%;
  height: 60vh;
}

.plum-img {
  position: absolute;
  width: 67%;
  left: 26%;
}

.mustard-img {
  position: absolute;
  left: 0;
  max-width: 74%;
}

.olive-img {
  position: absolute;
  top: 35%;
  right: -12%;
  max-width: 35%;
}
@media (max-width:768px) {
  .illustration-box {
    left: -4%;
    height: 50vh;
  }
}
@media (max-width:425px) {
  .illustration-box {
    height: 30vh;
  }
  .olive-img {
    top: 39%;
    right: -13%;
  }
}

.gallery-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 1rem 3rem;
  background-color: #fff;
}

.gallery-category {
  position: relative;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.gallery-nav .active {
  font-weight: 900;
}

.gallery-category:active {
  font-weight: 900;
} 

.line:after {
  display: flex;
  height: 3px;
  width: 0;
  transition: all ease-out 0.4s;
  background-color: #f11212;
  content: "";
  opacity: 0.2;
}

.line:hover:after {
  width: 80%;
  opacity: 1;
}
@media (max-width:768px) {
  .gallery-nav {
    flex-wrap: wrap;
    padding: 1rem 2rem;
  }
  .gallery-category {
    font-size: 28px;
  }
  .nav-row-category {
    margin-right: 0;
  }
}
@media (max-width:425px) {
  .gallery-nav {
    flex-wrap: wrap;
    padding: 1rem 2rem;
  }
  .gallery-category {
    padding-top: 1rem;
    font-size: 28px;
  }
}

.gallery {
  background-color: #b4f8f7;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.gallery-img-box {
  position: relative;
  margin-top: 5rem;
  width: 41vw;
  transition: 0.5s;
  overflow: hidden;
}

.gallery-img-box:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
  opacity: 1;
}

.gallery-img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  filter: grayscale(60%);
}

.img-info {
  position: absolute;
  bottom: 6%;
  right: 4%;
  width: 92%;
  height: 89%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 1px 5px #000;
  font-weight: bold;
  transition: 0.8s ease-in-out;
  opacity: 0;
}

.img-info:hover {
  transform: scale(1.3) translatey(20%);
  opacity: 1;
}
@media (max-width:768px) {
  .gallery-images {
    padding-top: 2rem;
  }
  .gallery-img-box {
    margin-top: 1rem;
    width: 43vw;
  }
  .img-info {
    font-size: 20px;
  }
}
@media (max-width:425px) {
  .gallery-images {
    align-items: center;
    flex-direction: column;
  }
  .gallery-img-box {
    width: 88vw;
  }
}

.gallery-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 150px;
  height: 10vh;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

footer {
  background-color: #f8f3a1;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 0;
}

.footer-container div {
  padding: 0.5rem;
}

.footer-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.icon-box {
  display: flex;
}

.social-icon {
  margin-left: 2rem;
  height: 3.5vh;
  cursor: pointer;
  transition: 0.8s;
}
.social-icon:hover {
  transform: rotate(10deg) scale(1.2);
  opacity: 0.7;
}
.icon-box a:last-child li img {
  margin-right: 0;
}
@media (max-width:1024px) {
  .social-icon {
    margin: 3rem 3rem 0 0;
    height: 4.5vh;
  }
}
@media (max-width:1024px) {
  .social-icon {
    margin: 3rem 2rem 0 0;
    height: 4vh;
  }
}
@media (max-width:425px) {
  .footer-container {
    justify-content: center;
    text-align: center;
  }
  .footer-container div,
  .icon-box {
    padding-left: 0;
    padding-right: 0;
  }
  .social-icon {
    margin-right: 1.5rem;
  }
}
